h1 {
    text-align: center;
    margin-bottom: 100px;
}
.label{
    text-align: left;
    width: 310px;
    margin: 5px auto;
    font-family: "Google Sans", sans-serif;
    margin-top: 50px;
}
.account input {
    padding: 5px;
    font-family: "Google Sans", sans-serif;
    height: 20px;
    width: 300px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    background-color: black;
}
.solid {
    background: white;
    border: none;
    color: black;
    margin-top: 10px;
    width: 300px;
    height: 35px;
    border: 2px solid black;
    cursor: pointer;
}
#delete-account-button {
    margin-top: 30px;
}
button:active {
        opacity: 0.8;
    }
    button[disabled] {
        opacity: 0.7;
    }
#delete-account-button-confirm {
    margin-top: 30px;
    background-color: red;
    color: white;
}
#add-name-button {
    margin-top: 30px;
}
.account {
    width: 800px;
    margin: 0 auto;
}